# numbers not divisibe by 2 and 3

In [1]:
for i in range(1,51):
    if(i%2!=0 and i%3!=0):
        print(i)

1
5
7
11
13
17
19
23
25
29
31
35
37
41
43
47
49

# display grade

In [2]:
print("enter marks out of 100:")
eng=float(input('English : '))
mat=float(input('Maths : '))
phy=float(input('Physics : '))
chem=float(input('Chemistry : '))
bio=float(input('Biology : '))
sum=eng+mat+phy+chem+bio
perc=(sum/500)*100

if(perc>90):
    print('Grade : A')
elif(perc>80):
    print('Grade : B')
elif(perc>70):
    print('Grade : c')
elif(perc>60):
    print('Grade : D')
elif(perc>50):
    print('Grade : E')
else:
    print('Failed')

enter marks out of 100:
English : 79
Maths : 37
Physics : 97
Chemistry : 16
Biology : 79
Grade : D

# numbers divisible by 7 and multiple of 5

In [4]:
n=int(input('enter range : '))
for i in range(1,n+1):
    if(i%35==0):
        print(i)

enter range : 700
35
70
105
140
175
210
245
280
315
350
385
420
455
490
525
560
595
630
665
700

# sum of n natural numbers

In [5]:
n=int(input('enter range : '))
sum=0
for i in range(n+1):
    sum=sum+i
print(sum)

enter range : 3
6

# sum of series 1+1/2+....1/n

In [9]:
n=int(input('enter a number : '))
sum=0
for i in range(1,n+1):
    sum=sum+(1/i)
print(sum)

enter a number : 8
2.7178571428571425

# odd even list

In [10]:
list1=[]
odd=[]
even=[]
n=int(input('enter length of list : '))
print('enter elements : ')
for i in range(0,n):
    list1.append(int(input()))
print(list1)
for ele in list1:
    if(ele%2==0):
        even.append(ele)
    else:
        odd.append(ele)
print('odd : ',odd)
print('even : ',even)

enter length of list : 6
enter elements :
1
2
3
4
5
6
[1, 2, 3, 4, 5, 6]
odd :  [1, 3, 5]
even :  [2, 4, 6]

# number of words and characters in a string

In [17]:
str=input('enter a string : ')
str1=str.split()
n=len(str1)
char=0
for ele in str:
    char=char+1
print('number of words = ',n)
print('number of characters = ',char)

enter a string : hi girls
number of words =  2
number of characters =  8

 # multiply all items in a dictionary

In [12]:
dict1={'a':10,'b':12,'c':65,'d':10,'e':5}
n=1
for i in dict1:
    n=n*dict1[i]
print(n)

390000

# display letters in two strings but not in both strings

In [15]:
str1=input('enter a string : ')
str1=set(str1)

str2=input('enter a string : ')
str2=set(str2)

print(list(str1.union(str2)))

enter a string : jackfruit
enter a string : umbrella
['u', 'm', 'r', 'k', 'i', 'f', 'b', 'e', 'c', 'l', 't', 'a', 'j']

# map two lists in a dictionary

In [16]:
list1=[]
list2=[]
n=int(input('length of dictionary : '))

print('enter elements of list1: ')
for i in range(n):
    list1.append(input())
    
print('enter elements of list2: ')
for i in range(n):
    list2.append(input())
    
dict1=dict(zip(list1,list2))
print(dict1)

length of dictionary : 2
enter elements of list1:
1
2
enter elements of list2:
hi
good
{'1': 'hi', '2': 'good'}