# simple calculator

In [ ]:
def add(a,b):
    print(a+b)

def sub(a,b):
    print(a-b)

def mul(a,b):
    print(a*b)

def div(a,b):
    print(a/b)

print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")
while(True):
    
    a=float(input('enter number 1 : '))
    b=float(input('enter number 2 : '))
    
    n=input("Enter a choice....1/2/3/4:  ")

    if(n=='1'):
        add(a,b)
    
    elif(n=='2'):
        sub(a,b)
    
    elif(n=='3'):
        mul(a,b)
    
    elif(n=='4'):
        div(a,b)

    else:
        print("enter a valid choice")

# count of odd and even numbers between 1 and 20

In [3]:
count_odd=0
count_even=0

for i in range(1,21):
    if(i%2==0):
        count_even+=1
    else:
        count_odd+=1

print('Number of even numbers = ',count_even)
print('Number of odd numbers = ',count_odd)

Number of even numbers =  10
Number of odd numbers =  10

# array sorting

In [9]:
array=[]
print('enter elements of the array : ')
for i in range(10):
    array.append(int(input()))
print(array)
array.sort()
print('sorted array is : ', array)

enter elements of the array :
6
9
8
3
5
1
4
2
7
0
[6, 9, 8, 3, 5, 1, 4, 2, 7, 0]
sorted array is :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# whether number is even and greater than 100

In [11]:
n=int(input("enter a number : "))
if(n>100 and (n%2==0)):
    print(n," is even and greater than 100.")
else:
     print("try another number")

enter a number : 162
162  is even and greater than 100.

# print name and age

In [13]:
def person(name,age):
    print(" Name : ",name)
    print("Age : ",age)
    pass

person('anu',13)

 Name :  anu
Age :  13

# python list of all even numbers between 4 to 30

In [14]:
list1=[]
for i in range(4,31):
    if(i%2==0):
        list1.append(i)
print(list1)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

# add list of elements to a given set

In [21]:
set1=set()
list1=[]

n=int(input('enter length of list : '))
print('enter elements : ')
for i in range(n):
    list1.append(int(input()))
    
print(list1)
for ele in list1:
    set1.add(ele)
    
print(set1)

enter length of list : 5
enter elements :
1
2
3
4
5
[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}

# new set with all items from both list

In [1]:
set1=set()
set2=set()
set3=set()
n1=int(input('length of set1 : '))
n2=int(input('length of set2 : '))
print('input elements of set1: ')
for i in range(n1):
    set1.add(input())

print('input elements of set2: ')
for i in range(n2):
    set2.add(input())
    
set3=set1.union(set2)
print(set3)

length of set1 : 3
length of set2 : 5
input elements of set1:
1
2
3
input elements of set2:
2
3
4
5
6
{'1', '3', '5', '6', '2', '4'}

# whether first and last elements of a list is same

In [3]:
list1=[]
n=int(input('length of list: '))
for i in range(n):
    list1.append(int(input())) 
if(list1[0]==list1[-1]):
    print("True")
else:
    print("False")

length of list: 5
1
2
3
4
1
True

# print all numbers divisible by 5

In [9]:
list1=[]
n=int(input('length of list: '))
print("enter elements : ")
for i in range(n):
    list1.append(int(input()))
print(list1)
for ele in list1:
    if(ele%5 == 0):
        print(ele)

length of list: 5
enter elements :
20
17
5
15
28
[20, 17, 5, 15, 28]
20
5
15